{% extends "base.njk" %}

{% block scripts %}
    {{  super() }}
    <script type="application/javascript" src="/javascripts/editDevice.js"></script>
{% endblock %}

{% block styles %}
    {{  super() }}
    <link href="/stylesheets/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div role="main" class="inner cover container">
        <h1 class="cover-heading mb-4">Edit Device Information</h1>

        <div class="w-75 container" id="deviceNotFound" style="display:none;color:darkred;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>No Device found with that ID.</strong>
                <p>Please double check your ID or contact an administrator.</p>
            </div>
        </div>

        <form class="form-signin w-75 text-left" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="deviceID" >Device ID</label>
                    <input id="deviceID" class="form-control" placeholder="Device ID" disabled>
                </div>

                <div class="form-group col-md-6">
                    <label for="friendlyName">Friendly Name</label>
                    <input type="text" id="friendlyName" class="form-control" placeholder="Friendly Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="APIKey">APIKey</label>
                    <input type="text" id="APIKey" class="form-control" placeholder="APIKey" disabled>
                </div>

                <div class="form-group col-md-6">
                    <label for="dateRegistered">Date Registered</label>
                    <input type="text" id="dateRegistered" class="form-control" placeholder="Date Registered" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="lastRead">Last Contact</label>
                    <input type="text" id="lastRead" class="form-control" placeholder="Last Reading" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="measureInterval">Measurement Interval</label>
                    <div class="input-group mb-3">
                        <select id="measureInterval" class="form-control" aria-describedby="minutes-addon" placeholder="Measurement Interval"></select>
                        <div class="input-group-append">
                            <span class="input-group-text" id="minutes-addon">minutes</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="startTime">Daily Start Time</label>
                    <div class="form-row">
                        <div class="col-md-6">
                            <select id="startTimeHour" class="form-control mb-2"></select>
                        </div>
                        <div class="col-md-6">
                            <select id="startTimeMin" class="form-control mb-2"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endTime">Daily End Time</label>
                    <div class="form-row">
                        <div class="col-md-6">
                            <select id="endTimeHour" class="form-control mb-2"></select>
                        </div>
                        <div class="col-md-6">
                            <select id="endTimeMin" class="form-control mb-2"></select>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn btn-primary btn-block registerSubmit mt-4 mb-4" type="submit">Submit</button>

            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Information update failed.</strong>
                <p>Please try again or contact an administrator.</p>
            </div>

            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <strong>Information updated successfully!</strong>
                <p>Redirecting you to your <a href="/user/profile" class="alert-link">profile page...</a> </p>
            </div>

            <button id="ping" class="btn btn btn-primary" style="display:none;">Ping Device</button>



            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
        </form>
    </div>
{% endblock %}