{% extends "base.njk" %}

{% block scripts %}
    {{ super() }}
    <script>
        $().ready(function() {
            anime({
                targets: '.heart path',
                strokeDashoffset: [anime.setDashoffset, 0],
                strokeOpacity: ['100%', '0%'],
                easing: 'linear',
                duration: 3200,
                delay: function(el, i) { return i * 250 },
                direction: 'normal',
                endDelay:500,
                loop: true,
            });
            anime({
                targets: '.heart path',
                strokeOpacity: ['100%', '0%'],
                easing: 'easeInOutQuad',
                delay: 2400,
                duration: 800,
                direction: 'normal',
                endDelay: 500,
                loop: true,
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div role="main" class="inner cover container-fluid align-self-center mainContent">
        <svg version="1.1" class="heart" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 72 72;width:72px;height:72px;" xml:space="preserve">
            <g>
                <path d="M0,208.4h68.3c3.1,0,5.9-1.7,7.3-4.5L175.9,7.5L304.2,358l71.3-139.8c3.1-6,9.3-9.9,16.1-9.9h84.3"/>
            </g>
        </svg>
        <h1 class="cover-heading">HeartTrack Health Monitoring</h1>
        <p class="lead">Protect your health with our pulse & blood oxygen monitoring system.</p>
        <p class="lead">
            <a href="/info" class="btn btn-lg btn-secondary mt-3">Learn more</a>
        </p>
    </div>
{% endblock %}