{% extends "base.njk" %}

{% block content %}
    <div role="main" class="inner cover container-fluid align-self-center mainContent">
        <h1 class="cover-heading">Hey Professor.</h1>
        <p class="lead">Thanks for a great semester.</p>
    </div>
{% endblock %}