{% extends "base.njk" %}

{% block scripts %}
    {{  super() }}
    <script type="application/javascript" src="/javascripts/logout.js"></script>
{% endblock %}

{% block content %}
    Nothing to see here!
{% endblock %}