{% extends "base.njk" %}

{% block scripts %}
    {{  super() }}
    <script type="application/javascript" src="/javascripts/profile.js"></script>
{% endblock %}

{% block content %}
<main role="main" class="inner cover container text-left">
    <div class="row mb-5">
        <h1 id="infoHeader">User Profile</h1>
    </div>
    <div class="row">
        <div class="col-md">
            <strong>Email:</strong>
            <p><span id="userEmail"></span></p>
            <strong>Full Name:</strong>
            <p><span id="fullName"></span></p>
            <strong>Last Accessed:</strong>
            <p><span id="lastAccess"></span></p>
        </div>
        <div class="col-md">
            No devices added yet!
        </div>
    </div>
</main>
{% endblock %}