{% extends "base.njk" %}

{% block scripts %}
    {{  super() }}
    <script type="application/javascript" src="/javascripts/visualization.js"></script>
{% endblock %}


{% block content %}
    <div role="main" class="inner cover container align-self-start mainContent">
        <h1 class="cover-heading">HeartTrack Health Monitoring Weekly Summary</h1>
        <p class="lead">Track your readings from the past seven days on this page. Keep charge of your health.</p>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Device Name</th>
                        <th scope="col">Minimum Heart Rate</th>
                        <th scope="col">Average Heart Rate</th>
                        <th scope="col">Maximum Heart Rate</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}